#exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")
useDynLib(GRC)
import("ggplot2")
import("pheatmap")
#import("CAMERA")
import("scatterplot3d")
import("igraph")
import("plotrix")
import("BiocManager")
import("GSVA")
import("GSEABase")
import("survminer")
import("survivalROC")
import("corrplot")
import("Rgraphviz")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "arrows", "boxplot", "legend", "text")
importFrom("stats", "cor.test", "lm", "median", "quantile", "t.test","wilcox.test")
importFrom("utils", "read.csv")
importFrom("methods", "new")

export("regulator")
export("pathM")
export("plot.reg.up")
export("cutoff")
export("GP")
export("SL")
export("Top")
export("plot.reg.down")
export("readEXP")


